@import 'tailwindcss';
@import './base.css';

#app {
  width: 100%;
  height: 100%;
  padding: 2rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
    width: 100%;
    height: 100%;
  }
}
