
.feed-content-container {
  max-width: 800px;
  margin: auto;

  @apply leading-7;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-2 font-bold;
}

h1 {
  @apply text-lg;
}
p {
  @apply mb-4 leading-7;
}
blockquote {
  @apply mb-4 pl-2 border-l-2;
}
span,
strong {
  @apply mx-1;
}
a {
  @apply text-slate-500 mx-2;
}
ol,
ul {
  @apply mb-4 list-disc ml-4;

  & > * {
    @apply mr-2;
  }
}
figure {
  @apply mb-2;
  figcaption {
    @apply text-sm text-center opacity-70;
  }
}
img {
  @apply mb-2;
}
small {
  @apply opacity-70;
}
hr {
  @apply opacity-70 mr-4;
}
code[lang] {
  @apply block rounded p-1 overflow-auto whitespace-pre;
}
iframe {
  height: 56vw;
  @apply w-full mb-2;
}
audio {
  @apply m-auto mb-4 w-full;
}
