@tailwind base;
@tailwind components;
@tailwind utilities;

/* .ion-page.ios {
  bottom: calc(env(safe-area-inset-bottom) - 16px);
} */

.fab-enter-active,
.fab-leave-active {
  transition: all 0.1s ease;
}

.fab-enter-from,
.fab-leave-to {
  opacity: 0;
  transform: translate(0, 30px) scale(0, 0);
}

.popup-enter-active,
.popup-leave-active {
  transition: all 0.2s;
}

.popup-enter-from,
.popup-leave-to {
  opacity: 0;
  transform: translate(0, 30px);
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: transform 0.2s;
}

.slide-right-enter-from,
.slide-right-leave-to {
  transform: translate(100%, 0);
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


html {
  ion-header ion-toolbar:first-of-type {
    padding-top: var(--safe-area-inset-top);
  }
  ion-footer.footer-toolbar-padding ion-toolbar:last-of-type {
    padding-bottom: var(--safe-area-inset-bottom);
  }
}
